$primary-color: #C6E7FF;
$secondary-color: #D4F6FF;
$acent-color: #FBFBFB;
$background-color: #FFDDAE;

// Standart Padding
$standart-padding-15: 15px;
$standart-padding-10: 10px;


// Font Size
$font-size-nav: 18px;
$font-size-brand: 20px;

