@use '../abstract/variables' as var;
@use '../abstract/mixins' as mix;

footer {
  @include mix.font-family();
  display: flex;
  flex-direction: column;
  padding: var.$standart-padding-15;
  background-color: var.$primary-color;

  h3 {
    margin: 15px 0;
    text-align: center;
    font-size: 24px;
  }

  .footer__content {
    display: flex;
    justify-content: center;
    align-items: center;


    .footer__follow {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

        a {
          font-size: 28px;
          color: black;
        }
      }
    }
    .footer__certificate {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 30%;
      }
    }
    .footer__builded {
      flex: 1;
      display: flex;
      flex-direction: column;

      figure {
        display: flex;
        flex-direction: row;
        gap: 10px;

        img {
          width: 15%;
        }
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

}

.footer__end {
  @include mix.font-family();
  text-align: center;
  font-size: 28px;
  color: black;
  background-color: var.$background-color;
}