@use '../abstract/variables' as var;
@use '../abstract/mixins' as mix;

.portfolio {
  @include mix.font-family();
  margin-top: 30px;
  padding: var.$standart-padding-15;
  background-color: var.$primary-color;
  
  scroll-margin-top: 80px;

  .portfolio__title {
    @include mix.font-family('Times New Roman', 'serif');
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;

    hr {
      background-color: black;
    }
  }
  .portfolio__contents {
    display: flex;
    flex-direction: column;



    .portfolio__content {
      display: flex;
      gap: 15px;
      flex-direction: row;
      margin: 30px 0;

      img {
        width: 50%;
        height: 50%;
        border: 1px solid var.$primary-color;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .portfolio__details {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 32px;
        }

        p {
          font-size: 18px;
          margin: 15px 0;
        }

        button {
          background-color: #fff;
          color: black;
          align-self: baseline;

          a {
            color: black;
          }
        }
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .reverse-content {
      flex-direction: column-reverse;
    }
  }

  .certificate {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding-bottom: 30px;

    .certificate__title {
      margin-bottom: 30px;

      h1 {
        @include mix.font-family('Times New Roman', 'serif');
        font-weight: bold;
        text-align: center;
        font-size: 38px;
      }

      hr {
        background-color: black;
      }
    }

    .certificate__contents {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .certificate__content {
        text-align: center;

        img {
          border-radius: 15px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

        h3 {
          font-size: 24px;
          margin-top: 15px;
        }

        .btn {
          background-color: #fff;
          color: black;

          a {
            color: black;
          }
        }
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;

        .certificate__content {
          margin-top: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .portfolio__title {
      h1 {
        font-size: 28px;
      }
    }

    .portfolio__contents {
      .portfolio__content {
        .portfolio__details {
          p {
            font-size: 18px;
          }
          h2 {
            font-size: 28px;
          }
        }
      }
    }

    .certificate {
      .certificate__title {
        h1 {
          font-size: 28px;
        }
      }

      .certificate__contents {
        .certificate__content {
          h3 {
            font-size: 24px;
          }
        }
      }
    }
  }
}
